<h1>Burgers!</h1>

<h2>Burgers!</h2>
{{#each burgers}}
    <ul>
        <li>{{id}} {{burger_name}} <button data-id="{{id}}" class="change-devour">Devour</button></li>
    </ul>
{{/each}}
<h2>Devoured Burgers</h2>

<h2>Add a Burger</h2>
<form id="add-burger-form">
    <div class="form-group">
        <label for="burger-name">Burger name:</label>
        <input type="text" class="form-control" id="burger-name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
    $("#add-burger-form").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newBurger = {
            name: $("#burger-name").val().trim()
        };

        // Send the POST request.
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $(".change-devour").on("click", function (event) {
        var id = $(this).data("id");

        var newDevouredState = {
            devoured: true
        };

        // Send the PUT request.
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newDevouredState
        }).then(
            function () {
                console.log("changed devoured to", newSleep);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });
</script>